body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible-display {
    display: flex;
}
.sp-color {
    color: orange;
}

.half-part {
    width: 50%;
    padding-left: 5%;
    padding-right: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}
.half-part img {
    width: 100%;
}

.image-padding {
    padding-right: 5%;
}

.link-button {
    background-image: linear-gradient(0.25turn, salmon, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.top-banner {
    background-image: url(bg-images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 200px;
}

.mid-area {
    background-image: url(bg-images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 200px;
}

.flexible-experience {
    display: flex;
}

.flexible-item {
    width: 40%;
    padding-left: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px grey;   
    padding: 20px;
}

.developer-item {
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

.baby-item {
    margin-right: 5%;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.ex-support h1 {
    padding: 5%;
}

footer {
    padding-top: 50px;
    color: grey;
    text-align: center;
}

.ex-support {
    background-image: url(bg-images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}